#TITULO-PRINCIPAL {
	color: #180000;
	letter-spacing: 0.25em;
	font-family: 'Lobster', cursive;
	font-size: 150px;
	text-shadow: -4px -4px 4px #2FF81B, 4px -4px 4px #FCF932, -4px 4px 4px #E51401, 4px 4px 4px #E51401;
}
#Banner {
			
	color: #4A813F;
	margin-left: 15%;

}

#imagen1 {
	height: 270px;
	width: 180px;
	margin: 3px;
}

h2 {
	font-family: 'Creepster', cursive;
}










